<!--<ul>-->
<!--<li ng-repeat="command in vm.commands  track by $index | limitTo : -5">{{command}}  </li>-->
<!--</ul>-->
<div class="container-fluid">
    <!-- Modal -->

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="vm.command" ng-keyup="vm.queueCommand(vm.command,$event)"/>
        </div>
    </div>
</div>

    <div class="row">
        <pre>{{vm.player.currentRoom.name}}</pre>
        <pre>{{vm.player.currentRoom.description}}</pre>
        <pre ng-repeat="item in vm.player.currentRoom.inventory.items">{{item.name}}</pre>
        <pre ng-repeat="(key, value) in vm.player.currentRoom.rooms">{{key}}</pre>
    </div>

</div>


