<!--<ul>-->
<!--<li ng-repeat="command in vm.commands  track by $index | limitTo : -5">{{command}}  </li>-->
<!--</ul>-->
<div class="container-fluid">
    <!-- Modal -->

<pre>{{vm.location}}</pre>
    <div class="row">
        <div class="col-xs-8">
            <ul>
                <li ng-repeat="status in vm.status track by $index">{{status}}</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h4>Inventory:</h4>
            <p ng-repeat="item in vm.player.inventory track by $index ">{{item.name}}</p>
            <h4>Monsters:</h4>
            <p ng-show="vm.location.lit || vm.hasLitLamp()" ng-repeat="monster in vm.location.monsters">{{monster.name}} life: {{monster.life}}</p>
        </div>
    </div>
    <div class="row">

        <footer>
            <div class="navbar navbar-fixed-bottom">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h4>exits:<span ng-show="vm.location.lit || vm.hasLitLamp()" ng-repeat="(key,value) in vm.possibleExits(vm.location.exits)">{{key}}&nbsp;</span>
            </h4>
            <span ng-hide="vm.location.lit || vm.hasLitLamp()">**Can't see the exits**</span></br>
            <img ng-show="vm.location.lit || vm.hasLitLamp()" ng-src="dungeon/{{vm.location.image}}" height="25%" width="25%"/>

            <h4>Current Location: {{vm.location.name}}</h4>
            <p ng-show="vm.location.lit || vm.hasLitLamp()">{{vm.location.description}}</p>
            <p ng-hide="vm.location.lit || vm.hasLitLamp()">It is pitch black you are likely to be eaten by a grue</p>

            <hr/>
        </div>
    </div>
</div>
                <div class="form-group">
                    <input class="form-control"

                           type="text" ng-model="vm.command"
                           ng-keypress="vm.queueCommand(vm.command,$event)"/>
                </div>

            </div>
        </footer>
    </div>

</div>


