<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms configuration</title>
</head>
<body>
<h2>Rooms</h2>

<ng-form>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="vm.room.name"/>
    </div>
    <button class="btn btn-default" ng-click="vm.add()">Add Room</button>
</ng-form>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="room in vm.rooms">
        <div class="row">
            <div class="col-xs-3">
               <span> {{room.name}}</span>
            </div>
            <div class="col-xs-9">
                <div class="form-inline">
                    <button class="btn btn-default form-control" ng-click="vm.room.save(room)">Edit</button>
                    <button class="btn btn-default form-control" ng-click="vm.delete(room)">Delete</button>

                </div>
            </div>
        </div>

    </li>
</ul>
</body>
</html>